
* {
    
  box-sizing: border-box;
  text-align: center;

}

body {
  
    font-family: arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    height: 450px;
    font-size: 18px;     
}

header {

  color: #333;
  background:#ebebeb;
  line-height: 150px;
  position: relative;
  left: 400px;
}

nav {

    color: #333;
    background:#ebebeb;
    line-height: 150px;
    position: relative;
    top: 10px;
    left: 400px;
}

section {

    color: #333;
    background:#ebebeb;
    line-height: 80px;
    width: 495pt;
    height: 250pt;
    position: relative;
    top: 25px;
    left: 400px;
  }

aside {

    color: #333;
    background:#ebebeb;
    line-height: 80px;
    height: 250pt;
    width: 280px;
    position: relative;
    left: 1080px;
    bottom: 308px;
  }


  article {

  width: 475pt;
  left: 13px;
  color:#ebebeb;
  background: #777777;;
  line-height: 80px;
  height: 200pt;
  position: relative;
  bottom: 23px;
}

div {

  width: 450pt;
  left: 15px;
  color: #333;
   position: relative;
  background:#ebebeb;
  line-height: 90px;
  bottom: 23px;
}

p {

  width: 450pt;
  left: 15px;
  color: #333;
  position: relative;
  background:#ebebeb;
  line-height: 90px;
  bottom: 23px;
}

footer {

    left: 400px;
    color: #333;
    position: relative;
    background:#ebebeb;
    line-height: 150px;
    bottom: 290px;
 
}
